@{
    ViewData["Title"] = "Home Page";
}

<br />
<div class="jumbotron">
    <h3 class="text-center">Upload your .txt file</h3>
    <br />
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="UploadFile">
        <div class="col-md-4">
            <input type="file" class="form-control" name="file" />
        </div>
        <div class="col-md-4">
            <input type="submit" value="Upload" class="btn btn-primary" />
        </div>
    </form>
</div>

